.planet-name{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.planet{
    display: flex;
    gap: 25px;
}

.planet-icon{
    width: 20px;
    height: 20px;
}

.planet-text{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 1.36px;
    color: #fff;
}