header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 16px 0;
}

h1{
    font-family: Antonio;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1.05px;
    color: #fff;
}

.hamburger{
    opacity: 0.25;
}